# Python virtual environment
nutriai_env/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db
